
<article id ="index">
  <div class="container contents">
    <div class="row">
      <section class="restaurants col-md-12">
        <h2>店舗一覧</h2>
        <div class="row">
          <% @shops.each do |shop| %>
          <div class="content col-md-3">
            <p><% if shop.shop_images.present? %>
          <% shop.shop_images.first(1).each do |image| %>
          <%= attachment_image_tag image, :image, size: "200x150" %>
        <% end %>
        <% else %>
        <%= image_tag 'no_image.jpg', size: '200x150' %>
      <% end %></p>
            <p>店名：<%= shop.name %></p>

            <p>住所：<%= shop.address %></p>

            <p><%= link_to shop_path(shop) do %>
              詳細を見る
              <% end %></p>
            </div>
            <% end %>
          </div>
        </section>
      </div>
    </div>