<div class="container contents">

<h1>店舗登録</h1>
<p>店舗登録の協力をお願いします。</br>
入力項目が多数あるので、不明な箇所は未入力のままでも登録できます。</br>
一度店舗を登録した後はユーザーなら誰でも情報を編集することができます。</br>
既に同じ店舗が登録されている場合は後から登録したページは削除されますのでご注意ください。</p>
<%= form_with model: @shop, local: true do |f| %>
<table class="table">
<%= render 'layouts/error_messages', model: f.object %>
<tr>
<th>
<%= f.label :name, "店名" %>
</th>
<td>
 <%= f.text_field :name, class: "form-control" %>
</td>
</tr>
<tr>
<th>
<%= f.label :name_kana, "店名（かな）" %>
</th>
<td>
 <%= f.text_field :name_kana, class: "form-control" %>
</td>
</tr>

<tr>
<th>
 <%= f.label :prefecture, "都道府県" %></th>
　<td><%= f.select :prefecture, Shop.prefectures.keys, {} %></td>
　</tr>
<tr>
<th>
 <%= f.label :genre_id, "ジャンル" %>
</th>
<td>
 <%= f.select :genre_id, {
     "---":0,
     居酒屋:1,カレー:2,ラーメン:3,焼き肉:4,カフェ:5,鍋:6,寿司:7,
     魚介・海鮮:8,焼き鳥・鳥料理:9,和食:10,天ぷら:11,うどん・そば:12,すき焼き・しゃぶしゃぶ:13,おでん:14,
     お好み焼き・たこ焼き:15,ステーキ・ハンバーグ:16,鉄板焼:17,パスタ・ピザ:18,ハンバーガー:19,洋食:20,
     フレンチ:21,イタリアン:22,西洋各国料理:23,中華料理:24,
     韓国料理:25,バー:26,ファミレス:27,定食:28,丼もの:29,その他:30,
   }, {} %>
</td>

</tr>
<tr>
<th>
<%= f.label :zipcode, "郵便番号" %>
</th>
<td>
 <%= f.text_field :zipcode, class: "form-control" %>
</td>
</tr>

<tr>
<th>
<%= f.label :address, "住所" %>
</th>
<td>
 <%= f.text_field :address, class: "form-control" %>
</td>
</tr>

<tr>
<th>
<%= f.label :phonenumber, "TEL" %>
</th>
<td>
 <%= f.text_field :phonenumber, class: "form-control" %>
</td>
</tr>

<tr>
<th>
<%= f.label :hp, "HP" %>
</th>
<td>
<%= f.text_field :hp, class: "form-control" %>
</td>
</tr>
<tr>
<th>
<%= f.label :regular_holiday, "定休日" %>
</th>
<td>
<%= f.text_field :regular_holiday, class: "form-control" %>
</td>
</tr>
<tr>
<th>
<%= f.label :opning_hours, "営業時間" %>
</th>
<td>
<%= f.text_area :opning_hours, class: "form-control" %>
</td>
</tr>
<tr>
<th>
<%= f.label :acsess, "アクセス" %>
</th>
<td>
<%= f.text_area :acsess, class: "form-control" %>
</td>
</tr>
<tr>
<th>
<%= f.label :parking, "駐車場" %>
</th>
<td>
<%= f.text_field :parking, class: "form-control" %>
</td>
</tr>

<tr>
<th>
<%= f.label :seats, "座席数" %>
</th>
<td>
<%= f.text_field :seats, class: "form-control" %>
</td>
</tr>
<tr>
 <td>画像</td>
 <td><%= f.attachment_field :shop_images_images, multiple: true %></td>
</tr>
<tr>
 <th><%= f.submit %></th>
 </tr>
</table>
<% end %>
</div>