<h1>Users#index</h1>
<%= @users.each do |user| %>
<%= user.name %>
<%= attachment_image_tag user, :profile_image, size: "60x60", fallback: "no_image.jpg" %>
<%= user.sex %>
<%= user.date_of_birth %>
<%= user.introduction %>
<% end %>