
<div class="container">
  <h1>ユーザー一覧</h1>
<table class="table">
  <% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= link_to user_path(user) do %>
      <%= attachment_image_tag user, :profile_image, size: "60x60", fallback: "no_image.jpg" %>
      <% end %>
      </td>
    <td><%= user.sex %></td>
    <td><%= user.date_of_birth %></td>
    <td><%= user.introduction %></td>
  </tr>
<% end %>
</table>
</div>