
<div class="container contents">
  <h1>ユーザー一覧</h1>
  <table class="table">
  <% @users.each do |user| %>
  <tr>
    <td><%= link_to user_path(user) do %><%= user.name %><% end %></td>
    <td>
      <%= attachment_image_tag user, :profile_image, size: "60x60", fallback: "no_image.jpg" %>

      </td>
    <td><%= user.sex %></td>
    <td><%= user.date_of_birth %></td>
    <td><%= user.introduction %></td>
  </tr>
<% end %>
</table>
</div>