<h1>マイページ</h1>
<%= @user.name %>
<!--cssで丸くしたい-->
<%= attachment_image_tag @user, :profile_image, size: "60x60", fallback: "no_image.jpg" %>
<%= @user.sex %>
<%= @user.date_of_birth %>
<%= @user.introduction %>
<%= link_to "情報編集", edit_user_path %>