<div class="container text-center contents">
  <h2>ログイン</h2>
  <%= form_with model: @user, url:user_session_path, method: :post, local: true do |f| %>
  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "例： mail@soloist.com" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログインする" %>
  </div>
<% end %>
<%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post %>
<%= render "devise/shared/links" %>
</div>
