<div class="container contents">
  <%= form_with(model:[@shop, @review], local: true) do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <%= f.label :title, "タイトル" %>
      <%= f.text_field :title %>
      <!--星型のレート機能-->
      <%= f.hidden_field :shop_id, value: @shop.id %>
      <div class="col-md-6 col-md-offset-3">
        <div class="field" id="rate">
          <%= f.label :rate %>
          <%= f.hidden_field :rate, id: :review_rate %>
        </div>
      </div>
      <table class="table">
        <tr>
          <th><%= f.text_area :review, rows:'5', class: "form-control",placeholder: "コメントをここに" %></th>
        </tr>
        <tr>
          <th><%= f.label :bgm, "BGM" %></th>
          <td><%= f.text_field :bgm %></td>
        </tr>
        <tr>
          <th><%= f.label :space, "距離感" %></th>
          <td><%= f.text_field :space %></td>
        </tr>
        <tr>
          <th><%= f.label :volume, "ご飯の量" %></th>
          <td><%= f.text_field :volume %></td>
        </tr>
        <tr>
          <th><%= f.label :eyes, "周りの視線" %></th>
          <td><%= f.text_field :eyes %></td>
        </tr>
        <tr>
          <th><%= f.label :busy, "賑やかさ" %></th>
          <td> <%= f.text_field :busy %></td>
        </tr>
        <tr>
          <th><%= f.label :soloist, "soloist率" %></th>
          <td><%= f.text_field :soloist %></td>
        </tr>
        <tr>
          <th><%= f.label :use_time, "時間帯" %></th>
          <td>
            <div class="field">
              <%= f.label :morning, "朝" %>
              <%= f.radio_button :use_time, :morning %>
              <%= f.label :evening, "昼" %>
              <%= f.radio_button :use_time, :evening %>
              <%= f.label :night, "夜" %>
              <%= f.radio_button :use_time, :night %>
            </div>
          </td>
        </tr>
        <tr>
          <th><%= f.label :visit_date, "訪問日時" %></th>
          <td> <%= f.date_field :visit_date, use_month_numbers: true, start_year: 2020, end_year: (Time.now.year - 10), default: Date.new(2020, 1, 1) %></td>
        </tr>
        <tr>
          <th>画像</th>
          <td><%= f.attachment_field :review_images_review_images, multiple: true %></td>     
        </tr>
      </table>
    </div>
    <%= f.submit "更新する", class: "btn btn-lg btn-base-1 mt-20 pull-right" %>
    <% end %>
  </div>
</div>

<script>
$('#rate').raty({
  size     : 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf: '<%= asset_path('star-half.png') %>',
  scoreName: 'review[rate]',
});
</script>