<div class="container contents">
  <h1>レビュー一覧</h1>
    <% @shop.reviews.each do |review| %>
  <div>タイトル
    <%= link_to shop_review_path(@shop.id, review.id) do %>
      <%= review.title %>
    <% end %>
    <%= review.visit_date %>
    レビュー<%= review.review %>
    <!--レート-->
    <div id="rate<%= review.id%>">評価<%= review.rate %></div>
    <!--レビュー画像-->
    <% if review.review_images.present? %>
      <% review.review_images.each do |review_image| %>
        <%= attachment_image_tag review_image, :review_image, size: "100x100" %>
      <% end %>
    <% else %>
      <%= image_tag 'no_image.jpg', size: '100x100' %>
  <% end %>
  <!--いいね-->
  <div id="favorites_buttons_<%= review.id %>">
    <%= render partial: 'favorites/favorite', locals: {review: review, shop: @shop} %>
  </div>
  </div>
  <script>
  $('#rate<%= review.id%>').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    readOnly: true,
    half: true,
    score: <%= review.rate %>,
  });
</script>
<% end %>
<%= paginate @reviews %>
<%= link_to "お店のページに戻る", shop_path(@shop) %>
</div>
