<div class="container contents">
  <h1>レビュー詳細</h1>
  <h2><%= link_to shop_path(@review.shop.id) do %><%= @review.shop.name %><% end %></h2>
   <h2 id="rate<%= @review.id %>">評価<%= @review.rate %></h2>
    <%= link_to user_path(@review.user.id) do %><%= @review.user.name %><% end %>
    <table class="table">
      <tr>
        <th>店名</th>
        <td><%= @shop.name %></td>
      </tr>
      <tr>
        <th>タイトル</th>
        <td><%= @review.title %></td>
      </tr>
      <tr>
        <th>レビュー</th>
        <td><%= @review.review %></td>
      </tr>
      <tr>
        <th>利用時間帯</th>
        <td><%= @review.use_time %></td>
      </tr>
      <tr>
        <th>訪問日</th>
        <td><%= @review.visit_date %></td>
      </tr>
      <tr>
        <th>距離感</th>
        <td><%= @review.space %></td>
      </tr>
      <tr>
        <th>BGM</th>
        <td><%= @review.bgm %></td>
      </tr>
      <tr>
        <th>周りの視線</th>
        <td><%= @review.eyes %></td>
      </tr>
      <tr>
        <th>soloist率(１人客の多さ)</th>
        <td><%= @review.soloist %></td>
      </tr>
      <tr>
        <th>ご飯の量</th>
        <td><%= @review.volume %></td>
      </tr>
      <tr>
        <th>混雑度</th>
        <td><%= @review.busy %></td>
      </tr>
    </table>

    <% @review.review_images.each do |review_image| %>
      <%= attachment_image_tag review_image, :review_image, size: "500x300" %>
    <% end %>
  <!--いいね-->
   <div id="favorites_buttons_<%= @review.id %>">
      <%= render partial: 'favorites/favorite', locals: {review: @review, shop: @shop} %>
    </div>


  <% if current_user.id == @review.user.id %>
  <%= link_to "編集", edit_shop_review_path(@shop.id, @review.id) %>
  <%= link_to "削除", shop_review_path(@review), method: :delete %>
  <% end %>
  <%= link_to "レビュー一覧に戻る", shop_reviews_path(@shop.id) %>
  </div>


<script>
  $('#rate<%= @review.id%>').raty({
    size      : 36,
    starOff   : '<%= asset_path('star-off.png') %>',
    starOn    : '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    readOnly: true,
    half: true,
    score: <%= @review.rate %>,
  });
</script>