<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <% if user_signed_in? %>
  <!--ユーザーログイン時-->
  <%= link_to "soloist", :root %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "soloistとは？", homes_about_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "マイページ", user_path(current_user), class: 'nav-link'  %>
      </li>
      <li class="nav-item">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link'  %>
      </li>
       <li class="nav-item">
        <%= link_to "ユーザー一覧", users_path, class: 'nav-link'  %>
      </li>
       <li class="nav-item">
       <%= link_to "店舗登録", new_shop_path, class: 'nav-link'  %>
      </li>
      <li class="nav-item">
       <%= link_to "店舗一覧", shops_path, class: 'nav-link'  %>
      </li>
    </ul>
    <!--検索フォーム-->
     <%= search_form_for @search, url: shops_path do |f| %>
     <%= f.select :prefecture_eq, Shop.prefectures.map %>
      <%= f.search_field :name_or_address_cont_any, placeholder: "店名" %>
      <%= f.submit "検索" %>
      <% end %>
      
    <% else %>
<!--ユーザーログアウト時-->
        <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "soloistとは？", homes_about_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "新規登録", new_user_registration_path, class: 'nav-link'  %>
      </li>
      <li class="nav-item">
        <%= link_to "ログイン", new_user_session_path, class: 'nav-link'  %>
      </li>
       <li class="nav-item">
        <%= link_to "ユーザー一覧", users_path, class: 'nav-link'  %>
      </li>
       <li class="nav-item">
       <%= link_to "店舗一覧", shops_path, class: 'nav-link'  %>
      </li>
    </ul>
   <%= search_form_for @search, url: shops_path do |f| %>
     <%= f.select :prefecture, Shop.prefectures.keys.to_a, {} %>
      <%= f.search_field :name_or_address_cont_any, placeholder: "店名" %>
      <%= f.submit "検索" %>
      <% end %>
    <% end %>
  </div>
</nav>