<!DOCTYPE html>
<html>
  <head>
    <title>Soloist</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!--アイコン-->
    <script src="https://kit.fontawesome.com/033f0a5b2b.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="body">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
      <span id="back">
        <a href="#">
          <%= image_tag "arrow.png" %>
        </a>
      </span>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
